<!--<h2 class="page-header">Dashboard</h2>-->
<!--<p>Welcome to your dashboard</p>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoginApp</title>
    <link rel="stylesheet" href="/css/dashboard.css"/>
</head>
<body >
<!--<h2 class="page-header">Dashboard</h2>-->

<h1><b>DTU Library</b></h1>
<div class="img" >
    <img src="/css/dtu.png" alt="DTU Logo">
</div>
<button class="btnn" type="button">Log Out</button>

<div class="big-box">
    <div class="box1"><u><b>CHECKOUTS</b></u><br>
        5   </div>
    <div CLASS="box2"><u><b>FINE</b></u><br>
        $0.1</div>
    <div class="box3"><u><b>CARD NUMBER</b></u><br>
        11106444</div>

</div>





</body>
